*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea, input, button {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #000;
    width: 300px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    cursor: pointer;
}

hr {
    width: 100%;
    border: 1px solid #000;
}

.correct {
    color: green;
    font-weight: bold;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.highlight{
    color: red;
}

canvas {
   height:  500px; 
   width: 500px;
   border: 1px solid;
}
/* } 300 * 150 */